@media screen and (max-width: 1850px) and (min-width: 869px) {
    ol {
        padding-left: 30px;
    }
    .dev {
        padding: 190px 0 0 0;

        &-block {

            &-item {
                position: relative;
                padding-left: 0px;
                margin-bottom: 60px;
                margin: 0 auto;
            }

            & img {
                padding-top: 60px;
                margin: 0 auto;
            }
        }

        &-item {
            &-title {
                font-size: 36px;
                padding-bottom: 30px;

                &::before {
                    top: -165px;
                    right: 0;
                    left: 0px;
                    font-size: 200px;
                }
            }

            &-description {
                font-size: 26px;
                padding-bottom: 50px;
            }

            &-link {
                font-size: 16px;
                line-height: 100%;

                &::after {
                    width: 30px;
                    height: 30px;
                    position: absolute;
                    top: 1px;
                    right: 0;
                    left: 150px;
                }
            }
        }
    }
}
@media screen and (max-width: 1700px) {
    .seo {
        padding: 140px 0 160px 0;
        &-block {
            &-item {
                padding-left: 0px;
                margin: 0 auto;
                &-bg {
                    top: 300px;
                    left: 0px;
                }
            }
        }
        &-item {
            &-title {
                &::before {
                    left: 0px;
                }
            }
        }
    }
}

@media screen and (max-width: 1584px) {
.top-bar-info {
    &::after {
        width: 560px;
        max-width: 560px;
        background-size: (560px 560px);
        top: 74px;
    }
}
}

@media screen and (max-width: 1376px) {
    .achive-item {
        width: 80%;
    }
}

@media screen and (max-width: 1300px) {
    .top-bar-info {
        &::after {
            background: none;
        }
    } 
}


@media screen and (max-width: 1271px) and (min-width: 869px) {

    .seo {

        &-block {
            &-item {
                padding-right: 0;
                margin: 0 auto;
            }
        }
    }
}

@media screen and (max-width: 1170px) and (min-width: 869px) {

    .result {
        padding: 100px 100px;
    
        &-title {
            font-size: 48px;
            margin-top: 90px;
        }
    
        &-block {
            &-item {
                padding-left: 0;
                margin: 0 auto;
            }
            &-grid {
                grid-template-columns: 1fr;
            }
        }
    
        &-item {
            &-title {
                &::before {
                    top: -70px;
                    right: 0;
                    left: 0px;
                }
            }
        }
    }
    
    .achive {
        &-item {
            width: 70%;
            &-description {
                font-size: 20px;
            }
        }
    
        &-grid {
            display: none;
        }
    }
}

@media screen and (max-width: 768px) {

    .top-bar {
        height: 70vh;
        &-info {
            &-subtitle {
                font-size: 11px;
            }

            &-title {
                font-size: 24px;
                line-height: 28, 8px;
            }
        }
    }
}

@media screen and (max-width: 868px) {

    .burger {
        display: flex;
        flex-direction: column;
        width: 42px;
        align-items: flex-end;
        cursor: pointer;
        z-index: 101;
    }

    .nav-links {
        display: none;
    }

    .top-bar {
        background: url('./../img/header-banner.jpg');
        background-size: cover;
        position: relative;
        padding: 20px 0px 160px 0px;
        background-position: 65% 50%;
    }

    ol {
        padding-left: 20px;
    }
    .result {
        padding: 140px 0 50px 0;
        &-title {
            margin-top: 60px;
        }
    
        &-block {
            padding: 0 24px;
            &-item {
                position: relative;
                padding-left: 0px;
                margin: 0 auto;
            }
            &-grid {
                grid-template-columns: 1fr;
                justify-items: center;
            }
            &-anim {
                width: 116px;
                height: 116px;
                padding-bottom: 20px;
            }
            }
        
    
        &-item {
            &-title {
                font-size: 30px;
                &::before {
                    top: -110px;
                    right: 0;
                    left: 0px;
                    font-size: 140px;
                }
            }
    
            &-description {
                font-size: 24px;
            }
        }
    }
    

    .achive {
        &-block {
            flex-direction: column;
        }
    
        &-item {
            width: 80%;
            max-width: 80%;
            &-description {
                font-size: 20px;
            }
            &-boxes {
                display: none;
            }
            &-line {
                display: none;
                &-mod {
                    display: none;
                }
            }
        }
    
        &-grid {
        display: none;
        }
    }




    .seo {
        padding: 140px 0 160px 0;

        &-block {
            &-item {
                padding-right: 0;
                margin: 0 auto;
            }
        }

        &-item {
            &-title {
                font-size: 30px;

                &::before {
                    top: -110px;
                    right: 0;
                    left: 0px;
                    font-size: 140px;
                }
            }

            &-description {
                font-size: 24px;
            }

        }
    }


    .items-set {
        padding-top: 0;
    }



    .purpose {
        padding: 80px 0;

        &-block {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        &-item {
            &-title {
                font-size: 30px;
            }

            &-description {
                font-size: 20px;
            }

            &-mod {
                padding-left: 0;
            }

            &-element {
                font-size: 20px;
                padding-left: 13px;
            }
        }

        &-item:nth-child(2) {
            padding-top: 50px;
            padding-left: 0;
        }

        &-item:nth-child(1) {
            position: relative;
            max-width: 80%;

            &::before {
                content: url('../img/crosshair-sm.svg');
                position: absolute;
                width: 0;
                height: 0;
                top: -40px;
                right: 0;
                left: 140px;

            }
        }
    }


    .dev {
        padding: 140px 0 0 0;

        &-block {
            flex-wrap: wrap;

            &-item {
                padding-left: 0px;
                margin: 0 auto;
                margin-bottom: 50px;
                padding: 0 24px;
            }
        }

        &-item {
            &-title {
                font-size: 30px;
                padding-bottom: 30px;

                &::before {
                    top: -110px;
                    right: 0;
                    left: 30px;
                    font-size: 140px;
                }
            }

            &-description {
                font-size: 24px;
                padding-bottom: 50px;
            }

            &-link {
                font-size: 16px;
                line-height: 100%;

                &::after {
                    width: 30px;
                    height: 30px;
                    position: absolute;
                    top: 1px;
                    right: 0;
                    left: 150px;
                }
            }
        }
    }
}
@media screen and (max-width: 468px) {
    br {
        display: none;
    }
    .top-bar {
        background-position: 9% 50%;
    }
    .btn-back-hidden {
        display: block;
    }
    .achive-btn {
        display: none;
    }
    .result {
        padding: 140px 0 50px 0;
        &-title {
            margin-top: 30px;
            padding-bottom: 30px;
        }
    
        &-block {
            padding: 0 24px;
            justify-content: left;
            &-item {
                padding-left: 0px;
                margin: 0;
            }
        }
    
        &-item {
            &-title {
                font-size: 26px;
    
                &::before {
                    top: -80px;
                    right: 0;
                    left: 0px;
                    font-size: 100px;
                }
            }
    
            &-description {
                font-size: 16px;
            }
            &-mod {
                
            }
        }
    }

    .seo {
        padding: 100px 24px 160px 24px;
    
        &-block {
            justify-content: left;
            &-item {
               padding-right: 0;
               margin: 0;
               &-bg {
                   top: 400px;
               }
            }
            
        }
    
        &-item {
            &-title {
                font-size: 26px;
                &::before {
                    top: -80px;
                    right: 0;
                    left: 0px;
                    font-size: 100px;
                }
            }
    
            &-description {
                font-size: 16px;
            }
        }
    }


    .items-set {
        padding-top: 0;
    }



    .dev {
        padding: 100px 0 0 0;
        &-block {
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-wrap: wrap;
            justify-content: space-between;

            &-item {
                padding-left: 0px;
                margin: 0 auto;
                margin-bottom: 30px;
                padding: 0 24px;
            }

            & img {}
        }

        &-item {
            &-title {
                font-size: 26px;
                padding-bottom: 30px;

                &::before {
                    top: -80px;
                    right: 0;
                    left: 30px;
                    font-size: 100px;
                }
            }

            &-description {
                font-size: 20px;
                padding-bottom: 50px;
            }

            &-link {
                font-size: 16px;
                line-height: 100%;

                &::after {
                    width: 30px;
                    height: 30px;
                    position: absolute;
                    top: 1px;
                    right: 0;
                    left: 150px;
                }
            }
        }
    }



    .top-bar-info {
        margin-top: 30px;

        &-btn {
            display: none;
        }

        &-btnsm {
            display: block;
        }
        &-subtitle {
            padding-top: 20px;
        }
    }

    .purpose {
        background-color: #181818;
        padding: 60px 0;

        &-block {
            justify-content: center;
        }

        &-item {
            &-title {
                font-size: 24px;
            }

            &-description {
                font-size: 16px;
            }

            &-mod {
                padding-left: 0;
            }

            &-element {
                font-size: 16px;
            }
        }

        &-item:nth-child(2) {
            padding-top: 30px;
            padding-left: 0;
        }

        &-item:nth-child(1) {
            position: relative;
            max-width: 440px;

            &::before {
                content: url('../img/crosshair-sm.svg');
                top: -40px;
                right: 0;
                left: 65px;
            }
        }
    }
}

@media screen and (max-width: 370px) {
    .purpose-item:nth-child(1) {
        &::before {
            left: 30px;
        }
    }
}